@HomePageBase:#ff8c24;
@HomePageLight: lighten(@HomePageBase, 10%);
@HomePageSuperLight: lighten(@HomePageBase, 100%);

.surprise-form
{
	background-image: url('/images/Surprise.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
	height:90vh;

	
	.btn-default
	{
			color: white;
			font-size: 25px;
		    width: 100%;
		    background-color: @HomePageBase;
		    border-radius: 10px;
		    border:10px solid @HomePageLight;

		    &:hover
		    {
		    	background-color:darken(@HomePageBase,10%);
		    	border:10px solid darken(@HomePageLight,10%);
		    	color: white;
		    }
	}

	.try-cloud-bot
	{
		width: 100%;
		position: absolute;

	}
}