@HomePageBase:#ff8c24;
@HomePageSuperLight: lighten(@HomePageBase, 100%);



.UpShadow
{
   box-shadow: inset 0 -30px 45px -25px rgba(0,0,0,0.4);
}

.DownShadow
{
	box-shadow: inset 0 30px 45px -25px rgba(0,0,0,0.7);
}


/*Landing page Banner START*/
.landing-banner
{
	
	background-color: @HomePageSuperLight;
	min-height: 150vh;
	position: relative;
	background-image: url('images/sm-lower-bg-cloud.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	.Cloud1
	{
		z-index: 5;
		position: absolute;
		width: 100%;

	}

	.Cloud2
	{
		z-index: 3;
		position: absolute;
		width: 100%;

	}



	.landing-image
	{
		z-index: 4;
		margin: 25px auto;
		max-width: 500px;
		height: 400px;
		margin-top: 150px;
	}

	.landing-content
	{
		text-align: center;
	}

}
/*Landing Page Banner END*/

/*How it works START*/
.how
{

	background-color: @HomePageBase;
	color: #fff;
	border-top: 50px solid @HomePageBase;
	border-bottom: 50px solid @HomePageBase;
	
	.HowGlyph
	{
		margin-right: 10px;
	}

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.how-content
	{
		.how-title
		{
			text-align: center;
		}

		.left
		{
			text-align: left;
		}

		.right
		{
			text-align: right;
		}

		.content-image
		{
			max-height: 400px;
   			margin: 0 auto;
		}
	}

	.HowCloud
	{
		width: 100%;
	}

}
/*How it works END*/

/*Try it out START*/
.try
{

	background-color: @HomePageSuperLight;

	

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.try-title
	{
		text-align: center;
	}

	.try-content
	{

	}
	.DownShadow
}


/*Try button*/
.try-button
{

	background-color: @HomePageBase;
	color: #fff;
	border-top: 50px solid @HomePageBase;
	border-bottom: 50px solid @HomePageBase;
	
	.btn-default
	{
			color: white;
			font-size: 25px;
		    width: 100%;
		    background-color: @HomePageBase;
		    border-radius: 10px;
		    border:10px solid white;

		    :active
		    {
		    	background-color:darken(@HomePageBase,10%);
		    	border:10px solid white;
		    }
	}
}
/*Try it out  END*/

/*Try it out START*/
.footer
{

	background-color: @HomePageSuperLight;
	

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.footer-title
	{
		text-align: center;
	}

	.footer-content
	{

	}
}
/*Try it out  END*/