@HomePageBase:#F7941D;
@HomePageSuperLight: lighten(@HomePageBase, 25%);

/*Landing page Banner START*/
.landing-banner
{

	background-color: @HomePageBase;
	min-height: 100vh;

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.landing-content
	{
		text-align: center;
	}


}
/*Landing Page Banner END*/

/*How it works START*/
.how
{

	background-color: @HomePageSuperLight;
	min-height: 100vh;

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.how-content
	{
		.how-title
		{
			text-align: center;
		}

		.left
		{
			text-align: left;
		}

		.right
		{
			text-align: right;
		}

		.content-image
		{
			max-height: 400px;
   			margin: 0 auto;
		}
	}
}
/*How it works END*/

/*Try it out START*/
.try
{

	background-color: @HomePageBase;
	min-height: 100vh;

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.try-title
	{
		text-align: center;
	}

	.try-content
	{

	}
}
/*Try it out  END*/

/*Try it out START*/
.footer
{

	background-color: @HomePageSuperLight;
	

	.landing-image
	{
		margin: 25px auto;
		max-width: 500px;
	}

	.footer-title
	{
		text-align: center;
	}

	.footer-content
	{

	}
}
/*Try it out  END*/